Django>=4.0
djangorestframework
psycopg2-binary       # or mysqlclient / whichever DB you use
gunicorn              # if you deploy with gunicorn
requests              # if making external HTTP calls
python-dotenv         # for .env/ environment variable support
whitenoise            # for static file serving (if used)
django-cors-headers   # if you use CORS middleware / APIs
django-jazzmin
Pillow==10.1.0